.Companies {
    width: 20%;
    height: 100%;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    position: relative;

    border-bottom: none;
    /*display: inline-block;*/
}

.Companies:hover {
    background: green;
}

.Link {
    text-decoration: none;
    color: inherit;
}


/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: #f9f9f9;*/
/*    !*min-width: 160px;*!*/
/*    !*width: 100%;*!*/
/*    !*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*!*/
/*    !*z-index: 1;*!*/
/*}*/

/*.dropdown-content li {*/
/*    color: black;*/
/*    !*padding: 12px;*!*/
/*    !*text-decoration: none;*!*/
/*    display: block;*/
/*}*/

/*.dropdown-content li:hover {background-color: #f1f1f1}*/

/*.Companies:hover .dropdown-content {*/
/*    display: block;*/
/*}*/

.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    /*background: lightgreen;*/
    /*color: darkblue;*/
    /*width: 1000px;*/
    /*font-weight: 900;*/
}

.Companies > ul > .Link {
    position: relative;
    cursor: pointer;
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    background: grey;
    display: none;
}

.dropdown .Link:hover {
    background: green;
}

.Companies:hover .dropdown{
    display: block;
    /*perspective: 1000px;*/
}

.Companies .Link:hover > .dropdown .Link{
    transform-origin: top center;
    opacity: 0;
    display: block;
}

.Companies li:hover > .dropdown li:nth-child(1) {
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
}
.Companies li:hover > .dropdown li:nth-child(2) {
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
}
.Companies li:hover > .dropdown li:nth-child(3) {
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 150ms;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    70% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
