.Companies {
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-bottom: none;
}

.Companies:hover {
    background: green;
}

.Link {
    text-decoration: none;
    color: inherit;
}

.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.Companies > ul > .Link {
    position: relative;
    cursor: pointer;
    float: left;
    width: 100%;
    height: 3rem;
    font-size: 0.8rem;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    background: grey;
    display: none;
}

.dropdown .Link:hover {
    background: green;
}

.Companies:hover .dropdown{
    display: block;
}

.Companies .Link:hover > .dropdown .Link{
    transform-origin: top center;
    opacity: 0;
    display: block;
}