.Coupons {
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-bottom: none;
}

.Coupons:hover {
    background: green;
}

.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.Coupons > ul > .Link {
    position: relative;
    cursor: pointer;
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
}


.dropdown > .Link {
    position: relative;
    cursor: pointer;
    float: left;
    width: 100%;
    line-height: 3rem;
    background-color: inherit;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    background: grey;
    display: none;
}

.dropdown .Link:hover {
    background: green;
}

.Coupons:hover .dropdown{
    display: block;
}

.Coupons .Link:hover > .dropdown .Link{
    transform-origin: top center;
    opacity: 0;
    display: block;
}