.DropDownMenu {
    width: 45%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-bottom: none;
}

.DropDownMenu:hover {
    background: green;
}

.DropDownMenu > ul > .Link {
    position: relative;
    cursor: pointer;
    float: left;
    width: 100%;
    height: 3rem;
    font-size: 0.8rem;
    line-height: 3rem;
}

.DropDownMenu > .dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    /*display: inline-block;*/
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: grey;
    display: none;
}

.DropDownMenu > .dropdown .Link:hover {
    background: green;
}

.DropDownMenu:hover .dropdown{
    display: block;
}

.DropDownMenu .Link:hover > .dropdown .Link{
    transform-origin: top center;
    opacity: 0;
    display: block;
}

@media screen and (min-width: 760px) {
    .DropDownMenu {
        display: none;
    }
}