.Logo {
    width: 15%;
    height: 100%;
    float: left;
    background-color: inherit;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.Home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.75rem;
    color: green;
    font-weight: bold;
}

.Logo > ul > .Link {
    position: relative;
    cursor: pointer;
    float: left;
    width: 100%;
    height: 3rem;
    font-size: 0.8rem;
    line-height: 3rem;
}

.Logo > .dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: grey;
    display: none;
}

.Logo > .dropdown .Link:hover {
    background: green;
}

.Logo:hover .dropdown{
    display: block;
}

.Logo .Link:hover > .dropdown .Link{
    transform-origin: top center;
    opacity: 0;
    display: block;
}