.Logo {
    width: 15%;
    height: 100%;
    float: right;
    background-color: inherit;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}

.Home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: green;
    font-weight: bold;
}

.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    /*background: lightgreen;*/
    /*color: darkblue;*/
    /*width: 1000px;*/
    /*font-weight: 900;*/
}

.Logo > ul > .Link {
    position: relative;
    cursor: pointer;
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    background: grey;
    display: none;
}

.dropdown .Link:hover {
    background: green;
}

.Logo:hover .dropdown{
    display: block;
    /*perspective: 1000px;*/
}

.Logo .Link:hover > .dropdown .Link{
    transform-origin: top center;
    opacity: 0;
    display: block;
}