.CouponRepBlock {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: darkgrey;
    /*padding: 5px;*/
    margin: 1vh;
}

.CouponRepBlock > div {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.CouponRepBlock:hover {
    box-shadow: 2px 2px 2px green;
}

.CouponRepBlock > .actions {
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    background-color: inherit;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.actions {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
}

.actions > .buy{
    width: 33%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.actions > .update{
    width: 33%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.actions > .Link{
    width: 33%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}


.actions > .delete{
    width: 33%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.actions > div:hover{
    background-color: green;
    color: white;
}

@media screen and (max-width: 759px) {
    .CouponRepBlock {
        display: flex;
    }
}

@media screen and (min-width: 760px) {
    .CouponRepBlock {
        display: none;
    }
}