.FormHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 80%;
    height: 60%;
    appearance: none;
    border-width: 0px;

    color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 20px;
    margin: 5px;
}

