.ProfileCustomer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    width: 80%;
}

