.DateInput {
    display: flex;
    align-items: center;
    width: 80%;
    appearance: none;
    position: relative;
}

.DateInput > input {
    font-size: 0.85rem;
    padding: 0.5rem;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    color: black;
}

.DateInput > input:hover {
    border: 3px solid green;
}

.DateInput > input:focus {
    border: 3px solid green;
}

.DateInput > input::placeholder {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75rem;
    color: black;
}

/*.check {*/
/*    height: 80%;*/
/*    position: absolute;*/
/*    right: -2rem;*/
/*}*/