.FormSelect {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 80%;
    appearance: none;
    position: relative;
}

select {
    font-size: 0.75rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;

    background-color: white;
}

select:hover {
    border: 3px solid green;
}
