.FormSubmit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    appearance: none;
}

.FormSubmit > input {
    width: 40%;
    height: 60%;
    font-size: 0.75rem;
    padding: 0.5rem;
    /*width: 80%;*/
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    color: white;
    border: none;
}

.submitButton {
    background-color: green;
}

.cancelButton {
    background-color: red;
}
