.PasswordInput {
    display: flex;
    align-items: center;
    width: 80%;
    appearance: none;
    position: relative;
}

.PasswordInput > input {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
}

textarea, input {
    text-transform: none;
    letter-spacing: normal;
}

.PasswordInput > input:hover {
    border: 3px solid green;
}

.PasswordInput > input:focus {
    border: 3px solid green;
}

.PasswordInput > input::placeholder {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75rem;
    color: black;
}

.check {
    height: 80%;
    position: absolute;
    left: -2rem;
}

.eye {
    height: 80%;
    position: absolute;
    right: -2rem;
}

/*.hints {*/
/*    display: flex;*/
/*    position: absolute;*/
/*    flex-direction:column;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/

/*    top: 7rem;*/
/*}*/