.TextInput {
    display: flex;
    align-items: center;
    width: 80%;
    appearance: none;
    position: relative;
}

.TextInput > input {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
}

.TextInput > textarea, input {
    text-transform: none;
    letter-spacing: normal;
}

/*textarea, input {*/
/*    text-transform: none;*/
/*    letter-spacing: normal;*/
/*}*/

.TextInput > input:hover {
    border: 3px solid green;
}

.TextInput > input:focus {
    border: 3px solid green;
}

.TextInput > input::placeholder {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75rem;
    color: black;
}

/*.check {*/
/*    height: 80%;*/
/*    position: absolute;*/
/*    right: -2rem;*/
/*}*/
