.UpdateCoupon {
    width: 20rem;
}

.UpdateCoupon > div {
    height: 2rem;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UpdateCoupon > .submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.categories {
    width: 100%;
    height: 20px;
    margin: 5px;
}