.AddCustomer {
    width: 25%;
}

.AddCustomer > div {
    height: 30px;
    display: flex;
    /*flex-direction:row;*/
    justify-content: center;

    align-items: center;
    padding: 5px;
    margin: 1vh;
}

.AddCustomer > .submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/*.submitButton {*/
/*    width: 40%;*/
/*    height: 60%;*/
/*    background-color: green;*/
/*    cursor: pointer;*/
/*    color: white;*/
/*    border: none;*/
/*}*/

/*.cancelButton {*/
/*    width: 40%;*/
/*    height: 60%;*/
/*    background-color: red;*/
/*    cursor: pointer;*/
/*    color: white;*/
/*    border: none;*/
/*}*/

/*.AddCustomer {*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/

/*    z-index: 10;*/
/*    background-color: lightslategrey;*/
/*    height: 400px;*/
/*    max-height: 80%;*/
/*    width: 300px;*/
/*    max-width: 80%;*/

/*    display: flex;*/
/*    flex-direction:column;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.AddCustomer > .title {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*    border-bottom: none;*/
/*}*/

/*.firstName, .lastName, .email, .pass{*/
/*    width: 80%;*/
/*    height: 60%;*/
/*    appearance: none;*/
/*    color: black;*/
/*    border-width: 0px;*/
/*    border-bottom: 2px solid green;*/
/*}*/

/*.AddCustomer > div {*/
/*    width: 80%;*/
/*    height: 80%;*/
/*    color: black;*/
/*}*/

/*.AddCustomer .closeButton {*/
/*    cursor: pointer;*/
/*    border: none;*/
/*    outline: none;*/
/*    background: none;*/
/*    font-size: 1.25rem;*/
/*    font-weight: bold;*/
/*}*/

/*.AddCustomer > .submit {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.submitButton {*/
/*    width: 40%;*/
/*    height: 60%;*/
/*    background-color: green;*/
/*    cursor: pointer;*/
/*    color: white;*/
/*    border: none;*/
/*}*/

/*.cancelButton {*/
/*    width: 40%;*/
/*    height: 60%;*/
/*    background-color: red;*/
/*    cursor: pointer;*/
/*    color: white;*/
/*    border: none;*/
/*}*/