.AddCompany {
    width: 25%;
}

.AddCompany > div {
    height: 30px;
    display: flex;
    /*flex-direction:row;*/
    justify-content: center;

    align-items: center;
    padding: 5px;
    margin: 1vh;
}

.AddCompany > .submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/*.AddCompany {*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/

/*    z-index: 10;*/
/*    background-color: grey;*/
/*    height: 50%;*/
/*    width: 20%;*/
/*    !*height: 400px;*!*/
/*    !*max-height: 80%;*!*/
/*    width: 300px;*/
/*    !*max-width: 80%;*!*/

/*    display: flex;*/
/*    flex-direction:column;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*}*/

/*@media screen and (max-width: 759px) {*/
/*    .Side {*/
/*        display: none;*/
/*    }*/
/*}*/
