.AddCoupon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;
    background-color: lightslategrey;
    height: 400px;
    max-height: 80%;
    width: 300px;
    max-width: 80%;

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
}

.categories {
    width: 100%;
    height: 20px;
    margin: 5px;
}

.selector {
    display: flex;
    align-items: center;

    width: 80%;
    appearance: none;
    border-width: 0px;
}