/*.LoginWindow {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    margin: 0 auto;*/
/*    height: 200px;*/
/*    width: 150px;*/
/*    border: 0;*/
/*    color: black;*/

/*    display: flex;*/
/*    flex-direction:column; */
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*    background-color: darkgrey;*/
/*}*/

.LoginWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;
    background-color: grey;
    height: 50%;
    width: 20%;
    /*height: 400px;*/
    /*max-height: 80%;*/
    width: 300px;
    /*max-width: 80%;*/

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
}

/*.LoginWindow > div {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*    color: black;*/
/*}*/

/*.LoginWindow > div > header {*/
/*    font-size: 20px;*/
/*}*/

/*.LoginWindow > div {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    color: black;*/
/*}*/

/*.LoginWindow > .bottom {*/
/*    display: flex;*/
/*    flex-direction:row;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*    background-color: darkgrey;*/
/*    color: black;*/
/*}*/

/*.user, .pass{*/
/*    width: 80%;*/
/*    height: 60%;*/
/*    appearance: none;*/
/*    color: black;*/
/*    border-width: 0px;*/
/*    border-bottom: 2px solid green;*/
/*}*/

/*.user:focus, .pass:focus {*/
/*    border-width: 0px;*/
/*}*/

/*.submitButton {*/
/*    width: 80%;*/
/*    height: 60%;*/
/*    background-color: green;*/
/*    cursor: pointer;*/
/*    color: white;*/
/*    border: none;*/
/*}*/