.LoginWindow {
    width: 20rem;
}

.LoginWindow > div {
    height: 2rem;
    padding: 0.3rem;
    display: flex;
    /*flex-direction:row;*/
    justify-content: center;
    align-items: center;
}

.LoginWindow > .submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}