.CouponActions > .buy{
    width: 33%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.CouponActions > .update{
    width: 33%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.CouponActions > .delete{
    width: 33%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.CouponActions > div:hover{
    background-color: green;
    color: white;
}