.PriceFilter {
    display: flex;
    align-items: center;
    width: 100%;
    appearance: none;
    position: absolute;
    bottom: -1rem;
}

.PriceFilter > input {
    font-size: 1rem;
    width: 100%;
    border: 2px solid green;
}

.PriceFilter > input:focus {
    border: 3px solid green;
}