.UpdateCustomer {
    width: 20rem;
}

.UpdateCustomer > div {
    height: 30px;
    display: flex;
    /*flex-direction:row;*/
    justify-content: center;

    align-items: center;
    padding: 5px;
    margin: 1vh;
}

.UpdateCustomer > .submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}