.UpdateCustomer {
    width: 20rem;
}

.UpdateCustomer > div {
    height: 2rem;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UpdateCustomer > .submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}