.About {
    width: 50%;
    flex-direction:column;
    /*align-items: center;*/
    /*justify-content: space-evenly;*/
    align-items: flex-start;
}

.About > p {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-left: 1rem;
    text-align: left;
}

.About > img {
    width: 100%;
}

.wrapper {
    position: relative;
}

.profilePicture {
    width: 100%;
}
.picFont {
    position: absolute;
    width: 40%;
    /*height: 100%;*/
    background-color: grey;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.picFont > a {
    align-items: center;
    border-bottom: 3px solid green;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    opacity: 1;
}

.About > h3, h4 {
    display: flex;
    align-items: flex-start;
    width: 100%;
    text-align: left;
}

h3 > a {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.letter {
    color: green;
    /*font-size: 1.5rem;*/
    font-weight: bold;
    margin-left: 0.2rem;
}
@media screen and (max-width: 759px) {
    .About {
        width: 65%;
    }
}

@media screen and (max-width: 599px) {
    .About {
        width: 80%;
    }
}
