.Coupon {
    height: 1.5rem;
    display: flex;
    flex-direction:row; 
    align-items: center;
    background-color: darkgrey;
    padding: 0.5rem;
    margin: 0.5rem;
}

.Coupon:hover {
    box-shadow: 0.2rem 0.2rem 0.2rem green;
}

.Coupon > div{
    border-bottom: none;
    display: flex;
}

.Coupon > .title{
    width: 20%;
}

.Coupon > .description{
    width: 30%;
}

.Coupon > .endDate{
    width: 20%;
}

.Coupon > .price{
    width: 15%;
}

.Coupon > .actions {
    width: 15%;
    height: 100%;
    font-weight: bold;

    display: flex;
    flex-direction:row;
    align-items: center;
}

.actions > .buy{
    width: 33%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.actions > .update{
    width: 33%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.actions > .Link{
    width: 33%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}


.actions > .delete{
    width: 33%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.actions > div:hover{
    background-color: green;
    color: white;
}

@media screen and (max-width: 759px) {
    .Coupon {
        height: 8rem;
        justify-content: space-between;
        display: flex;
        flex-direction:column;
        align-items: center;
        background-color: darkgrey;
        padding: 0.5rem;
        margin: 0.5rem;
    }

    .Coupon > div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .Coupon > .title{
        height: 20%;
        width: 100%;
    }

    .Coupon > .description{
        height: 20%;
        width: 100%;
    }

    .Coupon > .endDate{
        height: 20%;
        width: 100%;
    }

    .Coupon > .price{
        height: 20%;
        width: 100%;
    }

    .Coupon > .actions {
        height: 20%;
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
        background-color: inherit;
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
    }

    .actions {
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-evenly;
    }

    .actions > .buy{
        width: 33%;
        height: 100%;
        display: flex;
        border: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .actions > .update{
        width: 33%;
        height: 100%;
        display: flex;
        border: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    .actions > .Link{
        width: 33%;
        height: 100%;
        display: flex;
        border: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }


    .actions > .delete{
        width: 33%;
        height: 100%;
        display: flex;
        border: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .actions > div:hover{
        background-color: green;
        color: white;
    }
}
