.CouponHeader {
    height: 1.5rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: inherit;
    padding: 0.5rem;
    margin: 0.5rem;
    border-bottom: 4px solid green;
}

.CouponHeader > div{
    border-bottom: none;
    display: flex;
}

.CouponHeader > .title, .description, .endDate, .price {
    display: flex;
    flex-direction:row;
    align-items: center;
    position: relative;
    font-size: 0.8rem;
}

@media screen and (max-width: 759px) {
    .CouponHeader {
        justify-content: space-evenly;
    }

    .CouponHeader > .actions {
        display: none;
    }
}

@media screen and (min-width: 760px) {
    .CouponHeader > .title{
        width: 20%;
    }

    .CouponHeader > .description{
        width: 30%;
    }

    .CouponHeader > .endDate{
        width: 20%;
    }

    .CouponHeader > .price{
        width: 15%;
    }

    .CouponHeader > .actions {
        width: 15%;
    }
}


