.Customer {
    height: 1.5rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: darkgrey;
    padding: 0.5rem;
    margin: 0.5rem;
}

.Customer:hover {
    box-shadow: 0.2rem 0.2rem 0.2rem green;
}

.Customer > div{
    border-bottom: none;
    display: flex;
}

.Customer > .firstName{
    width: 30%;
}

.Customer > .lastName{
    width: 30%;
}

.Customer > .email{
    width: 40%;
}

.Customer > .actions {
    width: 15%;
    height: 100%;
    font-weight: bold;

    display: flex;
    flex-direction:row;
    align-items: center;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: inherit;
    font-size: 0.75rem;
}

.actions > .Link{
    width: 50%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.actions > .delete{
    width: 50%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.actions > div:hover {
    background-color: green;
    color: white;
}

.actions > .Link:hover {
    background-color: green;
    color: white;
}

@media screen and (max-width: 759px) {
    .Customer {
        height: 10rem;
        justify-content: space-between;
        display: flex;
        flex-direction:column;
        align-items: center;
        background-color: darkgrey;
    }

    .Customer > div{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .Customer > .firstName{
        width: 100%;
    }

    .Customer > .lastName{
        width: 100%;
    }

    .Customer > .email{
        width: 100%;
    }

    .Customer > .actions {
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
        background-color: inherit;
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
    }

    .actions {
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-evenly;
    }

    .actions > .Link{
        width: 33%;
        height: 100%;
        display: flex;
        border: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .actions > .delete{
        width: 33%;
        height: 100%;
        display: flex;
        border: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .actions > div:hover {
        background-color: green;
        color: white;
    }

    .actions > .Link:hover {
        background-color: green;
        color: white;
    }
}