html {
  font-size: 14px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

svg {
  width:24px;
  height:24px;
}

.Link {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: green;
}

@media screen and (min-width: 0px) {
  html {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 380px) {
  html {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 760px) {
  html {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1140px) {
  html {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1520px) {
  html {
    font-size: 1.3rem;
  }
}


