.Footer {
    border-top: 2px solid green;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    background-color: inherit;
    /*color: inherit;*/
    font-size: 0.75rem;
}

@media screen and (max-width: 759px) {
    .Footer > .separator {
        display: none;
    }
}

