.Header {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    border-bottom: 2px solid green;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
}
