.Main {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    /*align-content: center;*/
    align-items: center;
    /*justify-content: center;*/
}

.top {
    height: 10%;
    min-height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 99%;
    height: 80%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.bottom {
    height: 10%;
    /*min-height: 1em;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    color: black;
}