.Main {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    /*align-content: center;*/
    align-items: center;
    /*justify-content: center;*/
}

.top {
    height: 3rem;
    min-height: 2rem;
    display: flex;
}

.top > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.center {
    width: 99%;
    height: 80%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.bottom {
    height: 10%;
    width: 100%;
    min-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*color: black;*/
}